@import "syntax-variables";

.active {
  atom-text-editor {
    background-color: @base-blue;

    .gutter {
      background-color: @base-blue;
    }
  }
}

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor, atom-text-editor.editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .is-focused {
    .line.cursor-line, .line-number.cursor-line {
      background-color: @darker;
    }
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }

      &.bookmarked .icon-right:before {
        color: yellow;
      }

      &.bookmarked {
        color: yellow
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor.editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

// copied from old kobalt theme
.syntax--text .syntax--source, .syntax--string.syntax--unquoted.syntax--heredoc, .syntax--source .syntax--source {
  color: #FFFFFF;
  background-color: @dark-blue-gray;
}

.syntax--comment {
  font-style: italic;
  color: @light-blue;
}

.syntax--entity {
  color: @yellow;

  // &.name.type {
  //   color: @yellow;
  //   text-decoration: underline;
  // }

  &.syntax--other.syntax--inherited-class {
    font-style: italic;
    color: @light-cyan;
  }

  &.syntax--name.syntax--function {
    color: @yellow
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @yellow;
  }

  // &.name.section {
  //   color: @blue;
  // }

  // &.name.tag {
  //   color: @red;
  //   text-decoration: underline;
  // }

  &.syntax--other.syntax--attribute-name {
    color: @yellow;

    &.syntax--id {
      color: @light-blue;
    }
  }
}

.syntax--keyword {
  color: @dark-orange;

  &.syntax--control {
    color: @dark-orange;
  }

  // &.operator {
  //   color: @syntax-text-color;
  // }
  //
  // &.other.special-method {
  //   color: @blue;
  // }
  //
  // &.other.unit {
  //   color: @orange;
  // }
}

.syntax--storage {
  color: @purple;
}

.syntax--constant {
  color: @pink;

  // &.character.escape {
  //   color: @cyan;
  // }
  //
  // &.numeric {
  //   color: @orange;
  // }
  //
  // &.other.color {
  //   color: @cyan;
  // }
  //
  // &.other.symbol {
  //   color: @green;
  // }
}

.syntax--variable {
  color: @very-light-gray;

  // is this used?
  &.syntax--language {
    color: @light-purple;
  }

  // &.interpolation {
  //   color: darken(@red, 10%);
  // }
  //
  // &.parameter.function {
  //   color: @syntax-text-color;
  // }
}

.syntax--invalid.syntax--illegal {
  background-color: @even-lighter-gray;
  color: @blood-red;
}

.syntax--string {
  color: @green;


  &.syntax--regexp {
    color: @sand;

    // is this used?
    .syntax--source.syntax--ruby.syntax--embedded {
      color: @yellow;
    }
  }

  &.syntax--quoted .syntax--source{
    color: @light-yellow-quoted;
  }

  .syntax--constant {
    color: @light-yellow-constant;
  }

  .syntax--variable {
    color: @light-yellow-variable;
  }

  // is this used?
  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  // color: @very-light-blue;

  &.syntax--definition {
    // &.comment {
    //   color: @light-gray;
    // }

    // &.string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @very-light-blue;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @very-light-blue;
    }

    &.syntax--bold {
      color: @light-orange;
      font-style: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: white;
    // color: darken(@blood-red, 10%);
  }

}

.syntax--support {
  color: @light-sand;


  // &.class {
  //   color: @light-orange;
  // }
  //
  &.syntax--function  {
    color: @light-orange-function;

    // &.any-method {
    //   color: @blue;
    // }
  }

  &.syntax--constant {
    color: @light-pink-constant;
  }

  // is this used?
  &.syntax--type.syntax--exception {
    color: @red;
  }
}

.syntax--meta {
  &.syntax--class {
    color: @light-orange;
  }

  &.syntax--link {
    color: @yellow
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @yellow;
    font-style: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view,
atom-text-editor.editor[mini] .scroll-view {
  padding-left: 1px;
}
